<!-- Header -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Music App</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
      </ul>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<!-- Sidebar -->
<mat-drawer-container>
  <mat-drawer #drawer fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <mat-divider></mat-divider>

      <h2 matSubheader>Pages</h2>

      <a mat-list-item [routerLink]="['/home']" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
      </a>
      <a mat-list-item [routerLink]="['/playlists']" routerLinkActive="list-item-active">
        <mat-icon>queue_music</mat-icon>Playlists
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
